// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

window.Bar {
  background: none;
  color: $fg-color;
  font-weight: bold;
  font-family: "JetBrainsMono Nerd Font";

  .barComponent {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 1.5rem;

    font-size: 1.5rem;

    &:last-child {
      margin-right: 0.5rem;
    }
  }

  centerbox {
    background-color: rgba(64, 64, 64, 0.6);
    border-radius: 10px;

    // Window has 0 margin to top edge of .screen
    // Instead we have margin above centerbox to hide
    // bar into offscreen, not into nowhere
    margin-top: 8px;
  }
}

button.invisible {
  padding: 0;
  margin: 0;
  background: none;
}

.hider {
  transition: transform 0.3s;
  transform: translate(0, 0);

  &.hidden {
    transform: translate(0, -50px);
  }
}
