$fg-color: white;

$window-radius: 10px;
$bg-window: #151516;
$window-padding: 5px;
$box-shadow-outer: rgba(0, 0, 0, 0.24) 0px 3px 8px;

$color-transition:
    color 0.1s,
    background-color 0.1s,
    border-color 0.1s;

$el-radius: 8px;
$el-neutral: #202021;
$el-border: #3c3c3e;
$el-hover: #0f426c;
$el-active: #51a4e7;

$bar-element-side-margin: 5px;
$bar-element-between-margin: 3 * $bar-element-side-margin;

@import "tray.scss";
@import "battery.scss";
@import "menu_button.scss";
@import "power_profile_selector.scss";

window {
    background: none;
    color: $fg-color;
    font-weight: bold;
}

.bar {
    background-color: $bg-window;
    box-shadow: $box-shadow-outer;
    border-radius: $window-radius;
    padding: $window-padding;

    margin: 8px;

    > * {
        margin-top: $bar-element-side-margin;
        margin-bottom: $bar-element-side-margin;
        margin-left: 0;
        margin-right: $bar-element-between-margin;

        font-size: 18px;

        &:first-child {
            margin-left: $bar-element-side-margin;
        }

        &:last-child {
            margin-right: $bar-element-side-margin;
        }
    }
}

button {
    all: unset;
    padding: 10px;
    background-color: $el-neutral;
    border-radius: $el-radius;
    transition: $color-transition;

    &:hover,
    &:focus-within {
        background-color: $el-hover;
    }

    &:active,
    &:checked {
        background-color: $el-active;
    }
}

entry {
    all: unset;
    background-color: $el-neutral;
    border-radius: $el-radius;
    padding: 10px;
    border: 2px solid $el-border;
    transition: $color-transition;

    &:hover,
    &:focus-within {
        border-color: $el-hover;
    }

    &.password {
    }
}

popover.background {
    > contents {
        background-color: $bg-window;
        box-shadow: $box-shadow-outer;
        border: none;
    }
}

calendar.view {
    background: transparent;
    border: none;

    > header {
        > stack.month,
        > label.year {
            background-color: $el-neutral;
        }

        > button:first-child,
        > button + button {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        > stack.month + button,
        > label.year + button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        > stack.month + button {
            margin-right: 5px;
        }
    }
}
