// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

$window-bg-color: rgba(64, 64, 64, 0.6);
$window-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

window.Bar {
  background: none;
  color: $fg-color;
  font-weight: bold;
  font-family: "JetBrainsMono Nerd Font";

  .barWidget {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 1rem;

    font-size: 1.5rem;

    &:last-child {
      margin-right: 0.5rem;
    }
  }

  centerbox {
    background-color: $window-bg-color;
    box-shadow: $window-box-shadow;
    border-radius: 10px;

    margin: 8px;
  }
}

button.invisible {
  padding: 0;
  margin: 0;
  background: none;
}

.dropdownButton {
  & > button.toggle {
    margin: 0;

    padding: 0;
    background: none;
  }
}

.trayItem {
  margin-right: 1rem;
  &:last-child {
    margin-right: 0;
  }

  & > button.toggle {
    margin: 0;

    padding: 0;
    background: none;
  }
}

popover.background {
  > contents {
    background-color: $window-bg-color;
    box-shadow: $window-box-shadow;
  }
}

.hider {
  transition: transform 0.3s;
  transform: translate(0, 0);

  &.hidden {
    transform: translate(0, -50px);
  }
}

box.toggleGroup > button.toggle {
  &:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  &:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

calendar.view {
  background: transparent;
  border: none;
}
